<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Tableau de Bord</h1>

    <ul>
        <li><a href="{{ path('liste_categories') }}">Liste des Catégories</a></li>
        <li><a href="{{ path('liste_contacts') }}">Liste des Contacts</a></li>
        <li><a href="{{ path('liste_educateurs') }}">Liste des Éducateurs</a></li>
        <li><a href="{{ path('liste_licencies') }}">Liste des Licenciés</a></li>
    </ul>
</body>
</html>
