<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Tableau de Bord</h1>

    <ul>
        <li><a href="/Categorie/listCategorie.html.twig">Liste des Catégories</a></li>
        <li><a href="/Contact/listContact.html.twig">Liste des Contacts</a></li>
        <li><a href="/Educateur/listEducateur.html.twig">Liste des Éducateurs</a></li>
        <li><a href="/Licencie/listLicencie.html.twig">Liste des Licenciés</a></li>
    </ul>
</body>
</html>
